# Disimilarity (Tugas 1)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset_url="https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/latest/owid-covid-latest.csv"
data=pd.read_csv(dataset_url, index_col=0)

In [ ]:
data

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2022-09-11,195925.0,294.0,251.714,7787.0,0.0,0.714,4885.976,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
OWID_AFR,NaN,Africa,2022-09-11,12337339.0,401.0,1182.571,256632.0,0.0,10.143,8860.521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Europe,Albania,2022-09-11,331036.0,88.0,120.429,3584.0,0.0,0.143,115961.341,...,7.100,51.200,NaN,2.890,78.57,0.795,NaN,NaN,NaN,NaN
DZA,Africa,Algeria,2022-09-11,270539.0,7.0,13.714,6879.0,0.0,0.000,6123.844,...,0.700,30.400,83.741,1.900,76.88,0.748,NaN,NaN,NaN,NaN
AND,Europe,Andorra,2022-09-11,46113.0,0.0,12.286,155.0,0.0,0.143,583457.752,...,29.000,37.800,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2022-09-11,761.0,0.0,0.000,7.0,0.0,0.000,65451.105,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2022-09-11,608518726.0,311106.0,498143.857,6513932.0,701.0,1738.714,76937.162,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
YEM,Asia,Yemen,2022-09-11,11932.0,0.0,0.143,2155.0,0.0,0.000,361.777,...,7.600,29.200,49.542,0.700,66.12,0.470,NaN,NaN,NaN,NaN
ZMB,Africa,Zambia,2022-09-11,333229.0,9.0,22.143,4017.0,0.0,0.000,17112.251,...,3.100,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-09-11,256870.0,0.0,15.286,5596.0,0.0,0.000,16060.876,...,1.600,30.700,36.791,1.700,61.49,0.571,NaN,NaN,NaN,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data[["continent","location","total_cases","total_deaths"]].head(4)

         continent     location  total_cases  total_deaths
iso_code
AFG           Asia  Afghanistan     195925.0        7787.0
OWID_AFR       NaN       Africa   12337339.0      256632.0
ALB         Europe      Albania     331036.0        3584.0
DZA         Africa      Algeria     270539.0        6879.0

In [ ]:
data[["continent","location"]].head(4)

         continent     location
iso_code
AFG           Asia  Afghanistan
OWID_AFR       NaN       Africa
ALB         Europe      Albania
DZA         Africa      Algeria

In [ ]:
def diss(x,y):
   p=2
   m=0
   for row in["continent","location"]:
      if data[row][x] == data[row][y]:
         m+=1
      return (p-m)/p

print(diss(1,1))
print(diss(1,2))
print(diss(1,3))

1.0
1.0
1.0